body {
  background-color: rgb(31, 31, 31);
}

.profile {
  width: 600px;
  vertical-align: middle;
  margin: 75px;
  border: solid darkgoldenrod;
  border-width: 5px;
  border-radius: 5px;
}

.name {
  color: darkgoldenrod;
}

.intro {
  text-align: center;
  margin: 25px;
  padding: 25px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
}

.intro-text {
  color:  rgb(160, 160, 160);
}

.about-me {
  color:  rgb(160, 160, 160);
  text-align: left;
  margin: 25px;
  padding: 25px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
}

.about-me-img {
  width: 185px;
  float: right;
}

.pgh {
  color: darkgoldenrod;
}

.hi {
  font-style: italic;
}

.my-websites {
  color:  rgb(160, 160, 160);
  text-align: left;
  margin: 25px;
  padding: 25px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
}

.link {
  color: rgb(58, 58, 58);
}

.link:hover {
  color:darkgoldenrod;
}

